<div
  id="overlay_team"
  class="fixed inset-0 bg-gray-900/70 hidden backdrop-blur-md z-30"
>
</div>
<div
  id="modal"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white dark:bg-gray-800 p-8 rounded-2xl shadow-2xl z-50 hidden w-5/6 sm:w-4/6 md:w-3/6 max-w-2xl"
>
  <div class="flex flex-wrap items-center justify-center lg:flex-nowrap">
    <div
      class="w-40 h-40 md:w-48 md:h-48 lg:w-56 lg:h-56 overflow-hidden m-6 flex justify-center items-center rounded-3xl shadow-xl border-gray-200 dark:border-gray-700 border-2"
    >
      <img id="modal-image" class="object-cover w-full h-full" src="" alt="" />
    </div>
    <div class="md:w-2/3 ml-6 text-left">
      <h2
        id="modal-name"
        class="text-xl sm:text-2xl md:text-3xl font-semibold mb-4 text-gray-800 dark:text-gray-100"
      >
        Name
      </h2>
      <p
        id="modal-educationCurrent"
        class="mb-2 hidden text-sm sm:text-base text-gray-600 dark:text-gray-400"
      >
        Current Education
      </p>
      <p
        id="modal-educationPrevious"
        class="mb-2 hidden text-sm sm:text-base text-gray-600 dark:text-gray-400"
      >
        Previous Education
      </p>
      <p
        id="modal-educationNext"
        class="mb-4 hidden text-sm sm:text-base text-gray-600 dark:text-gray-400"
      >
        Next Education
      </p>
      <a
        id="modal-homepage"
        class="text-blue-500 hover:text-blue-700 underline hidden text-sm sm:text-base"
        href="">Homepage</a
      >
    </div>
  </div>
</div>
