---
// Import components and any needed scripts or styles here
import BaseLayout from "../layouts/BaseLayout.astro";
import SplashScreen from "../components/homepage/SplashScreen.astro";
import HomepageHero from "../components/homepage/HomepageHero.astro";
import News from "../components/homepage/News.jsx";
import WelcomeSection from "../components/homepage/WelcomeSection.jsx";

const newsItems = [
  {
    date: "March 28, 2024",
    title: "IJCV×1 accepted",
    description:
      "We propose a new learning-based method that effectively removes strong reflections from videos using light flickering.",
  },
  {
    date: "March 20, 2024",
    title: "TPAMI×2 accepted",
    description:
      "Our new studies enhance 3D modeling with deep learning for photometric stereo and introduce advanced hand pose estimation using event cameras.",
  },
  {
    date: "February 27, 2024",
    title: "CVPR×13 accepted",
    description: "13 papers are accepted, including 2 oral papers.",
  },
];
---

<BaseLayout>
  <SplashScreen />

  <HomepageHero />

  <main class="flex justify-center items-center">
    <div class="items-center justify-center mx-auto w-full min-w-full mt-24">
      <div
        class="flex flex-col justify-center mx-auto items-center 2xl:flex-row gap-y-24 gap-x-8 py-6 2xl:w-4/5"
      >
        <News newsItems={newsItems} client:load />
        <WelcomeSection client:load />
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  window.addEventListener("DOMContentLoaded", function () {
    const isFirstVisit = localStorage.getItem("isFirstVisit");
    const splashScreen = document.getElementById("splash-screen");

    if (isFirstVisit === null) {
      localStorage.setItem("isFirstVisit", "false");
      setTimeout(function () {
        splashScreen.style.opacity = "0";
        setTimeout(function () {
          splashScreen.style.display = "none";
        }, 1000);
      }, 2500);
    } else {
      splashScreen.style.display = "none";
    }
  });
</script>
