---
// Import components and any needed scripts or styles here
import BaseLayout from "../layouts/BaseLayout.astro";
import SplashScreen from "../components/homepage/SplashScreen.astro";
import HomepageHero from "../components/homepage/HomepageHero.astro";
import News from "../components/homepage/News.jsx";
import WelcomeSection from "../components/homepage/WelcomeSection.jsx";

const newsItems = [
  {
    date: "Sep 18, 2025",
    title: "NeurIPS×4 accepted",
    description:
      "We have four papers accepted by NeurIPS’25. Two papers are about novel solutions to event data simulation and depth estimation. The other two papers are about video generation with panoramic representation and audio-sync capabilities."
  },


  {
    date: "Jun 26, 2025",
    title: "ICCV×10 accepted",
    description:
      "We have ten papers accepted by ICCV’25, including one oral and three highlight papers. They cover topics on new applications using neuromorphic cameras (as a vibrometry, for uncalibrated photometric stereo, diffusion-based HDR imaging using event/spike cameras), AI generated photography (to achieve neural lens blur and adaptive HDR), polarization based 3D reconstruction, and so on."
  },
  {
    date: "Apr 23, 2025",
    title: "TPAMI×4 and IJCVx1 accepted",
    description:
      "We present a benchmark dataset for event-aided image/video enhancement, two different approaches about learning-based photometric stereo, a copyright protection strategy for NeRF on TPAMI, and learning to deblur polarized images on IJCV."
  },
  {
    date: "Feb 27, 2025",
    title: "CVPR×7 accepted",
    description:
     "We present seven CVPR papers exploring video instance repainting guided by sketch and text, event-based photometric stereo, active hyperspectral imaging, polarized image demosaicing and super-resolution, modeling specular surfaces via Gaussian splatting, unified static and dynamic scene reconstruction from events, and physics-aware semantic image editing." 
  },
  {
    date: "Dec 10, 2024",
    title: "AAAI×3 accepted",
    description:
      "We present three papers on atmospheric turbulence mitigation for planetary imaging, mask-free shadow removal guided by polarization, and zero-shot low-light image enhancement using latent diffusion models."
  },
  {
    date: "Oct 21, 2024",
    title: "NeurIPS×4 accepted",
    description:
      'We present four NeurIPS24 papers that explore efficient image reconstruction for spiking cameras, zero-shot asymmetric stereo via visual prompting, improved polarimetric imaging through complementary fusion, and shape estimation under unknown lighting conditions.',
  },
  {
    date: "July 25, 2024",
    title: "TPAMI×1 accepted",
    description:
      'We introduce a neuromorphic focal stack approach that leverages neuromorphic signal streams to achieve an all-in-focus image from a single shot.',
  },
  {
    date: "July 1, 2024",
    title: "ECCV×3 accepted",
    description:
      'We present novel approaches to electromagnetic inverse scattering problems using implicit representations, real-data-driven reconstruction of 2000FPS color HDR videos from mosaicked chromatic spikes, and language-based diffusion models for single image reflection removal.',
  },
  {
    date: "June 20, 2024",
    title: "EventPS awarded CVPR24 Best Paper, Runners-Up",
    description:
      'Our paper "EventPS: Real-time Photometric Stereo Using an Event Camera" is awarded the Best Paper, Runners-Up at CVPR24.',
  },
  {
    date: "March 28, 2024",
    title: "IJCV×1 accepted",
    description:
      "We propose a new learning-based method that effectively removes strong reflections from videos using light flickering.",
  },
  {
    date: "March 20, 2024",
    title: "TPAMI×2 accepted",
    description:
      "We conduct a new survey to deep learning based photometric stereo and introduce advanced hand pose estimation using event cameras.",
  },
  {
    date: "February 27, 2024",
    title: "CVPR×13 accepted",
    description: "13 papers are accepted, including 2 oral papers.",
  },
];
---

<BaseLayout>
  <SplashScreen />

  <HomepageHero />

  <main class="flex justify-center items-center">
    <div class="items-center justify-center mx-auto w-full min-w-full mt-24">
      <div
        class="flex flex-col justify-center mx-auto items-center 2xl:flex-row gap-y-24 gap-x-8 py-6 2xl:w-4/5"
      >
        <News newsItems={newsItems} client:load />
        <WelcomeSection client:load />
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  window.addEventListener("DOMContentLoaded", function () {
    const isFirstVisit = localStorage.getItem("isFirstVisit");
    const splashScreen = document.getElementById("splash-screen");

    if (splashScreen) { // 检查 splashScreen 是否存在
      if (isFirstVisit === null) {
        localStorage.setItem("isFirstVisit", "false");
        setTimeout(function () {
          splashScreen.style.opacity = "0";
          setTimeout(function () {
            splashScreen.style.display = "none";
          }, 1000);
        }, 2500);
      } else {
        splashScreen.style.display = "none";
      }
    }
  });
</script>
