body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", "Noto Sans Simplified Chinese", sans-serif;
}

html {
  background-color: #f5f5f5;
  color: #333;
}

html.dark {
  background-color: #121921;
  color: #9aaedd;
}

html .mild {
  color: #6b7280;
}

html.dark .mild {
  color: #c4c4c4;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
