---
// Import components and any needed scripts or styles here
// import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// 检查当前页面是否为首页
const isHome = Astro.url.pathname === "/";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://images.ctfassets.net/yreyglvi5sud/7eIeT8Ohh6Mnbvx5O12pOi/d96577c64baccc1439df769b5f6a8944/logo_icon_black.png?w=32&h=32&fit=pad" />
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+SC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot name="header" />
    <main class="site-content flex-grow mt-20 p-8 pt-0 md:px-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
